body {
    font: verdana, sans-serif;
    background: #f0e5ce;
    margin: 0;
    padding: 0;
    color: #000
}

.menu {
    text-align: right;
    margin-bottom: 30px;
    margin-top: 10px
}

.content {
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 60px;
    width: 800px;
    word-break: break-all;
}

.header {
    float: left;
    margin-bottom: 10px;
"
}

.title {
    float: left;
    width: 580px;
    word-break: break-all;
}

.author {
    float: right;
    text-align: right;
    width: 300px;
    word-break: break-all;
}

.main {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

.post {
    float: left;
    width: 900px;
    background-color: #FFF;
    border: 1px solid #D9CCBC;
    margin: 0 0 12px 0px;
    padding: 15px 12px 0 13px;
    border-radius: 5px
}

.messange {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 600px;
    height: 130px;
    background-color: #FFF;
    border: 1px solid #D9CCBC;
    padding: 15px 12px 0 13px;
    border-radius: 5px
}

.login {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 400px;
    min-height: 130px;
    max-height: 180px;
    background-color: #FFF;
    border: 1px solid #D9CCBC;
    padding: 15px 12px 0 13px;
    border-radius: 5px
}

.register {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 400px;
    max-height: 250px;
    background-color: #FFF;
    border: 1px solid #D9CCBC;
    padding: 15px 12px 0 13px;
    border-radius: 5px
}

hr {
    float: left;
    border: 1px solid #D9CCBC;
    width: 900px
}

a {
    color: #000;
    text-decoration: none
}

a:link {
    color: #000;
    text-decoration: none
}

a:visited {
    color: darkblue;
    text-decoration: none
}

a:hover, a:active, a:focus {
    color: grey;
    text-decoration: none
}

textarea{
    resize:vertical;
    width: 894px;
    height: 300px;
}