<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Mikroblog</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="messange">
        <h1>{{ messange }}</h1>

    <a href="/">Powrót do strony głównej</a>
    </div>
</body>
</html>