<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <b>Tytuł:</b> {{ book['title'] }}<br/>
        <b>Autor:</b> {{ book['author'] }}<br/>
        <b>Wydawca:</b> {{ book['publisher'] }}<br/>
        <b>ISBN:</b> {{ book['isbn'] }}<br/>
    </body>
</html>